.login_wraper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login_box{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80%;
    max-width: 300px;
    max-height: 500px;
    background: white;
    box-shadow: 2px 2px 6px gray;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
}
.log-in-h2{
    margin-top: 50px;
}

.dp{
    width: 75px;
    height: 75px;
    background: gray;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    box-shadow: 1.5px 1.5px 5px gray;
    text-align: center;
    
}
.login_box img{
    width: 75px;
    height: 75px;
    margin: -5px;
    border-radius: 50%;
    margin-top: 20px;
    filter: drop-shadow(1px 2px 2.5px gray);
    -webkit-filter: drop-shadow(1px 2px 2.5px gray);
    margin-bottom: 20px;
}

.login_box form{
    padding: 5px;
}
.login_box form input{
    margin-top: 20px;
    box-shadow: 1px 1px 4px gray;
    border: none;
    padding: 11px;
    border-radius: 2px;
}
.login_box button{
    background: white;
    color: rgb(36, 36, 36);
    font-weight: bolder;
    margin: 10px;
    margin-bottom: 20px;
    border: none;
    font-size: 15px;
    width: 90px;
    height: 35px;
    border-radius: 2px;
    box-shadow: 1px 2px 4px gray;
    background:#01f336;
    color: white;


}
.login_box p{
    margin-bottom: 35px;
    font-size: 15px;
}
.register_link{
    color: #00DE31;
    cursor: pointer;
}



@media (max-width:500px){

    .login_box{
        width: 70%;
    }

    body{
        background: rgb(243, 243, 243);
    }

}